.button {
  border: solid wblueviolet;
  border-radius: 10px;
  color: tan;
  font-size: 40px;
  text-align: center;
  background-size: 100%;
  background-color: black;
  margin: 0 auto;
}

.mountainButton {
  border: solid blueviolet;
  border-radius: 50px;

  color: green;
  font-size: 40px;
  text-align: center;
  background-size: 100%;
  background-image: url(https://images.all-free-download.com/images/graphicthumb/nature_landscape_drawing_dark_violet_mountain_moonlight_icon_6831580.jpg);
}

.fireButton {
  border: solid blueviolet;
  border-radius: 50px;
  color: red;
  font-size: 40px;
  text-align: center;
  background-size: 100%;
  background-image: url(https://us.123rf.com/450wm/prettyvectors/prettyvectors1510/prettyvectors151000001/46350518-stock-vector-bonfire-with-marshmallow-vector-flat-illustration.jpg?ver=6);
}

.ghostsBackground {
  background: url(https://i.kym-cdn.com/photos/images/original/000/653/540/dfb.gif)
    no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
